* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:burlywood;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 50px;
    background-color: coral;
    text-align: center;
    display: flex;
}
.logo {
    width: 400px;
}
.logo h1 {
    line-height: 50px;
    color: #fff;
}
.nav ul {
    display: flex;
    justify-content:flex-end;
    height: 50px;
}
.nav li {
    list-style: none;
    line-height: 50px;
    margin-right: 30px;
}
.nav li a {
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
    color: #fff;
}
.slider {
    background-image: url(../images/home_images/slider.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.text h1 {
    color: coral;
    text-shadow: 2px 2px rgba(0,0,0,0.9);
}
.text p {
    width: 350px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-shadow: 2px 2px rgba(0,0,0,0.9);
    font-size: 20px;
}
.text a {
    background-color: coral;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-family:cursive;
}
.main {
    background-color: gainsboro;
    overflow: auto;
}
.info {
    background-color: rgb(53, 53, 53);
    text-align: center;
    color: #fff;
}
.info h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 35%;
    margin: 0 auto;
    border-bottom: 3px solid coral;
}
.info p {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 25px;
    padding-bottom: 25px;
}
.products {
    width: 80%;
    margin: 0 auto;
}
.products h1 {
    margin: 25px 0;
    text-align: center;
}
.row {
    margin-top: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.items {
    border: 3px solid gray;
    background-color:burlywood;
    padding: 20px;
    width: 274px;
    margin: 10px 10px;
    text-align: center;
}
.items img {
    width: 100%;
}
.items h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.items a {
    background-color: coral;
    padding: 10px 30px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.btn {
    overflow: auto;
    background-color:forestgreen;
    display: block;
    width: 25%;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
.footer {
    background-color: #C9CCCC;
    height: 30px;
    text-align: right;
    border-top: 2px solid coral;
}
.footer p {
    line-height: 30px;
    margin-right: 20px;
    font-size: 18px;
    letter-spacing: 2px;
}

.cat {
    background-color: rgb(53, 53, 53);
    color: #fff;
    text-align: center;
    padding: 50px;
}
h3 {
    margin-top: 39px;
    margin-bottom: 20px;
    font-size: 25px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  width: 80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    margin: 20px auto;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}











input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}